body {
    background-color: cyan;
    text-align: center;
}

.line {
    height: 6px;
    width: 75px;
    background-color: blue;
    margin: 8px auto;
}

img:hover {
    transform: scale(0.9);
}
#apps{
    background-color: firebrick;
}
#games{
    background-color: forestgreen;
}
#chatbots{
    background-color: orangered;
}